@model PowerGridMVC.Models.EachAccountModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
   
    <div id="content">
        <div class="breadCrumbs"><span>@Html.ActionLink("DistiGrid", "Index", "DistiGrid")&nbsp;&gt;&nbsp;@Html.ActionLink("DistributorsList", "Load", "DistiGrid")&nbsp;&gt;&nbsp;DistributorDetails</span>&nbsp;</div>
        <div class="frame">
            <div class="frameRight">
                <h1>DistributorDetails</h1>
                <table class="partnerTable ">
                    <tr>
                        <th colspan="2">Account Profile</th>
                    </tr>
                    <tr>
                        <td>Global Parent Name</td>
                        <td> </td>
                        
                    </tr>
                    <tr>
                        <td>TPID</td>
                       <td> </td>
                    </tr>
                    <tr>
                        <td>Account ID</td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>Device IB</td>
                      <td> </td>
                    </tr>
                    <tr>
                        <td>PCIB (MAL)</td>
                     <td> </td>
                    </tr>
                    <tr>
                        <td>PCIB (Windows)</td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>PCIB (Office)</td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>AM</td>
                       <td> </td>
                    </tr>
                    <tr>
                        <td>ATS</td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>ATU</td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>Subsidiary</td>
                      <td> </td>
                    </tr>
                    <tr>
                        <td>Industry</td>
                   <td> </td>
                    </tr>
                    <tr>
                        <td>Sub-Segment</td>
                     <td> </td>
                    </tr>
                    <tr>
                        <td>Include in EAF</td>
                       <td> </td>
                    </tr>
                    <tr>
                        <td>Employee Count (MAL)</td>
                      <td> </td>
                    </tr>
                </table>

                <h1>Retailers</h1>
                <table class="partnerTable fullWidthTable">
                    <tr>
                        <th>Account ID</th>
                        <th>Partner Name</th>
                        <th>Share of Sice/SW in Market</th>
                        <th>Share of Devices in Market</th>
                        <th>Top Sice or SW Sold ($/#)</th>
                        <th>Win VL Compare (units count and $ weight)</th>
                        <th>Office/Server Compare</th>
                        <th>Top MNA (units)</th>
                        <th># of Resellers</th>
                        <th>80% Transcend by # Resellers</th>
                    </tr>
                    <tr>
                        <td>XX-XXX-XXX</td>
                        <td><a href="#">Reseller</a></td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>XX-XXX-XXX</td>
                        <td><a href="#">Reseller</a></td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>XX-XXX-XXX</td>
                        <td><a href="#">Reseller</a></td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>XX-XXX-XXX</td>
                        <td><a href="#">Reseller</a></td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>XX-XXX-XXX</td>
                        <td><a href="#">Reseller</a></td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>XX-XXX-XXX</td>
                        <td><a href="#">Reseller</a></td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>XX-XXX-XXX</td>
                        <td><a href="#">Reseller</a></td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
</body>
</html>
